* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --font-col-std: black;
    --font-col-neg: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'IBM Plex Mono', 'Menlo', 'Courier New', monospace;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}