main {
    flex: 1;
    padding: 2rem;
}

.cta-button {
    color: var(--font-col-std);
    border: 1px solid black;
    background: white;
    cursor: pointer;

    padding: 0.5rem;
    margin-top: 1rem;

    transition: translate 0.2s ease;
}
.cta-button:hover {
    background-color: black;
    color: var(--font-col-neg);
}