nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid black;
    padding: 16px;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;

    justify-content: center;
    align-items: center;

}
nav ul li {
    margin: 0px 20px;
    list-style-type: none;
}
nav ul li a {
    padding: px;
    color: var(--font-col-std);
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background: black;
    color: var(--font-col-neg);
}

@media (max-width: 500px) {

}

#burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#burger span {
    width: 25px;
    height: 2px;
    background: black;
}

#nav-menu {
    
}

@media (max-width: 768px) {

    /* NAVIGATION */
    nav ul {
        display: none;
    }

    /* NAV-BURGER */

    .nav-burger {
        display: block;
    }

    #burger {
        display: flex;
    }

    #nav-menu.active {
        display: flex;
    }
}